# Time Series Formatter

Author: Concetta D'Amato

This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy as gf_io
from timeseries_writer import*
oms_project_path = os.path.dirname(os.getcwd())

In [2]:
oms_project_path

'/Users/concettadamato/Eclipse_workspace_12/GEOET'

## Read data from a csv file

In [3]:
os.chdir(oms_project_path+"/resources/Input")
os.listdir()

['dataET_raster', '.DS_Store', 'dataET_point', 'data.csv']

In [4]:
df= pd.read_csv("data.csv")
df.head()

        1
0  101700
1  101700
2  101700
3  101700
4  101700

## Write an OMS timeseries

In [7]:
date_rng = pd.date_range(start='16/05/2018 00:00', end='07/06/2018 09:00' , freq='H')
date_rng

DatetimeIndex(['2018-05-16 00:00:00', '2018-05-16 01:00:00',
               '2018-05-16 02:00:00', '2018-05-16 03:00:00',
               '2018-05-16 04:00:00', '2018-05-16 05:00:00',
               '2018-05-16 06:00:00', '2018-05-16 07:00:00',
               '2018-05-16 08:00:00', '2018-05-16 09:00:00',
               ...
               '2018-07-06 00:00:00', '2018-07-06 01:00:00',
               '2018-07-06 02:00:00', '2018-07-06 03:00:00',
               '2018-07-06 04:00:00', '2018-07-06 05:00:00',
               '2018-07-06 06:00:00', '2018-07-06 07:00:00',
               '2018-07-06 08:00:00', '2018-07-06 09:00:00'],
              dtype='datetime64[ns]', length=1234, freq='H')

In [8]:
dfOut = pd.DataFrame(date_rng, columns=['date'])
dfOut['Prec'] = df
dfOut.insert(loc=0, column='-', value=np.nan)
dfOut.head()

    -                date    Prec
0 NaN 2018-05-16 00:00:00  101700
1 NaN 2018-05-16 01:00:00  101700
2 NaN 2018-05-16 02:00:00  101700
3 NaN 2018-05-16 03:00:00  101700
4 NaN 2018-05-16 04:00:00  101700

In [9]:
lab = 'Pres.csv'

In [10]:
write_timeseries_csv(dfOut,lab,1)

***SUCCESS writing!  Pres.csv